body {
    background: url('images/lasa.png') no-repeat center center fixed;
    background-size: cover;  /* Dopasowuje obrazek do całej strony */
    color: black;  /* Kolor tekstu */
    font-family: 'Courier New', monospace;
    text-align: center;
    overflow: hidden;
}


/* Efekt migania tekstu */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.hack-text {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 15px lime;
    animation: blink 1s infinite;
    position: fixed; /* Używamy fixed, żeby był zawsze na środku */
    top: 50%; /* Przesuwamy na 50% wysokości */
    left: 50%; /* Przesuwamy na 50% szerokości */
    transform: translate(-50%, -50%); /* Wycentrowanie dokładnie na środku */
    font-size: 50px; /* Wybierz rozmiar czcionki */
    font-weight: bold;
    color: black; /* Kolor tekstu */
    font-family: 'Courier New', monospace;
    text-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 15px lime; /* Opcjonalny cień, dla lepszego efektu */
    z-index: 9999; /* Zapewnia, że tekst będzie widoczny nad innymi elementami */

}

/* Glitch efekt */
@keyframes glitch {
    0% { text-shadow: 2px 2px red; }
    25% { text-shadow: -2px -2px blue; }
    50% { text-shadow: 2px -2px green; }
    75% { text-shadow: -2px 2px yellow; }
    100% { text-shadow: 2px 2px red; }
}

.glitch {
    animation: glitch 0.2s infinite;
}
